<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 注解支持 -->
    <context:annotation-config/>

    <!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 -->
    <context:component-scan base-package="com.yoflying.drivingschool.infrastructure.*"/>
    <context:component-scan base-package="com.yoflying.drivingschool.**.facade"/>
    <context:component-scan base-package="com.yoflying.drivingschool.domain.service.impl"/>
    <!--自动扫描Mybatis接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yoflying.drivingschool.domain.dao"/>
    </bean>

    <!-- 属性文件位置 -->
    <!--<bean id="annotationPropertyConfigurer"-->
          <!--class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--&lt;!&ndash;<value>classpath:config/jdbc.properties</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>classpath:config/properties/common.properties</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>classpath:config/properties/log4j.properties</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>classpath:config/properties/redis.properties</value>&ndash;&gt;-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->



</beans>